html {
    -webkit-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    max-width:600px;
    
}
body {
    background-color: #bbb;
    padding: 0;
    margin: 0;
}

/*header***************/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
}
/*https://www.philippinechamber.com/about-us*/
header {
    background-color: #fff;
    padding: 5px 0;
    display:flex;
    align-items: center;
    justify-content: center;
   
}
.sagariopic {
    height:150px;
    width:700px;
}
.head-container{
    max-width:500px;
    display:grid;
    grid-template-columns:100px 400px;
    column-gap:0px;
    margin-left:50px;
}

.head-1 {
    display: flex;
    flex-direction: column;
    font-family: Stoke, sans-serif, 'Times New Roman';
   
}

.head-1 h1  {
    font-size: 30px;
    margin: 0 0 0 1px;
    text-align:left;
    
    
}
.head-1 q  {
    text-align:left;
    margin-left:5px;
    margin-top:0px;
    
    
}

/* NAVIGATION********/
nav {
    font-family: Kanit, sans-serif, monospace;
    background-color:rgb(0, 0, 0 ,.9);
    width:100%;
    padding-left:10px;
    margin-top:-8px;

}
nav div{
    display:flex;
    justify-content:flex-end;
    flex-direction:row;
    align-items: center;
    padding-right:2px;}
.bot li {
    flex-basis:80px;
    justify-items:right;
    padding-left:50px;
    font-family: Noto Sans, serif, 'Times New Roman';
    color:rgb(255, 255, 255);
    
   

}
nav button {
    margin: .2rem 2%;
    border: none;
    font-size: 1.6rem;
  padding-left:5px;
    background-color:#bbb;
   
    
}




nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: Noto Sans, serif, 'Times New Roman';
   

}

nav ul li a {
    display: block;
    padding: .8rem 0px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    text-decoration: none;
	font-size: 0.95rem;
	background: linear-gradient(90deg, transparent, yellow, transparent) bottom /
		var(--d, 0) 3px no-repeat;
	transition: 0.5s;
    text-align:center;
    
}

.one {
    color: black;
}

nav ul li a:hover {
    --d: 75%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
nav .open {
    display: none;
}

span:nth-child(1){
    display:block;}
    span:nth-child(2){
        display:none;
    }

.open span:nth-child(1){
    display:none;}
.open span:nth-child(2){
    display:block;}

div {
    margin-top:0px;
    text-align:center;
    font-size:21px;
    font-family:Lobster, sans-serif, 'Times New Roman';
    list-style-type: none;
}


.pop {
    margin-top:0px;
    text-align:center;
    font-size:21px;
    background-color:blue;
    font-family:Lobster, sans-serif, 'Times New Roman';
    overflow: auto;

}
/*Categories*/
div .directory-grid {
    display:grid;
    grid-template-columns:150px 150px 150px;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr))s;
    width:600px;
    column-gap:50px;
    row-gap:10px;
    margin-left:0;
    margin-top:50px;
    position:relative;
    background-color:white;
    padding-left:30px;
    padding-top:10px;
}
main div h4, h6 {
    background-color:yellow;
}
main {
    text
}
div img {
    height:200px;
    width:100%;
    object-fit: cover;
    margin-bottom:-40px;
   

}
div h4 {
    text-align:center;
    margin-top:-35px;

    
    
}
main div {
    position:relative;
}
main div .addcart{ 
    width:100%;
    background-color:green;
    position:absolute;
    margin:-30px -75px;
    padding:5px;
    text-align:center;
    font-size:15px;
    
    
    
    
}

div h6 {

    padding: .15rem;
    background-color:black;
    color:yellow;

}

/* NAV 2*/
main nav ul {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap: wrap;
    padding: 10px;
}
main nav ul li a {
    background-color:yellow;
    color:black;
    padding:10px;
    margin-top:5px;
    border-radius:10px;
}